<%= stylesheet_link_tag 'facebook_scaffold' %>
<%= javascript_include_tag 'facebooker' %>

<%= facebook_messages %>

<div style="float:right;padding:10px;">
<%= link_to "Help", 'http://db240296.fb.joyent.us:3070/rdoc/' %>
</div>

<div style="padding:10px">
<%= yield  %>
</div>
